<ul class="nav nav-pills flex-column mb-3">
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="{% url 'crm:dashboard' %}">
      <i class="fa-solid fa-gauge"></i> Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="{% url 'crm:contact_list' %}">
      <i class="fa-solid fa-user"></i> Contacts
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="{% url 'crm:company_list' %}">
      <i class="fa-solid fa-building"></i> Companies
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="{% url 'crm:stakeholder_list' %}">
      <i class="fa-solid fa-users"></i> Stakeholders
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="{% url 'crm:lead_list' %}">
      <i class="fa-solid fa-chart-line"></i> Leads
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="{% url 'crm:product_list' %}">
      <i class="fa-solid fa-box"></i> Products
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="{% url 'crm:activity_list' %}">
      <i class="fa-solid fa-list-check"></i> Activities
    </a>
  </li>

  <hr class="text-white opacity-50">
  <li class="nav-item">
    <a class="nav-link text-white d-flex align-items-center gap-2" href="/admin/" target="_blank">
      <i class="fa-solid fa-gear"></i> Admin
    </a>
  </li>
</ul>
